<!-- Jumbotron -->
     <div class="jumbotron backsplash text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
          <br/>
          <br/>
          	<div class="main-logo img-responsive"><h1 style="text-indent:-9999px">Vitamin CV</h1></div>
            
            <p class="lead" style="color:#fff;">Give your potential employer the perfect dose.</p>
            <p class="lead" style="margin:0 auto; display:block; width:200px; font-family: 'Montserrat'">
               <%=link_to "GET STARTED", new_user_registration_path, class:"col-md-4 btn btn-success" %><br>
            </p>

          </div>
          <!--<div class="col-sm-6 hidden-xs">
            <div class="device pull-right"></div>
          </div>-->
        </div>
      </div>
    </div><!-- End Jumbotron -->
<div class="container">
	<div class="row" style="text-align:center; margin-bottom:70px">
        <div class="col-lg-4">
          <!--<img class="img-circle" src="" alt="Generic placeholder image" style="width: 140px; height: 140px;">-->
          <%= image_tag "icon1.jpg", class: "img-circle" %>
          <br/>
          <br/>
          <h2>Create a resume</h2>
          <p>In half the time, with our auto-complete that fills out your CV for you.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "icon2.jpg", class: "img-circle" %>
          <br/>
          <br/>
          <h2>Ready to share online</h2>
          <p>Your CV is hosted on our servers with a unique URL that you can share.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "icon3.jpg", class: "img-circle" %>
          <br/>
          <br/>
          <h2>Export as a CV card</h2>
          <p>Doubles as a business card with a QR code to your awesome CV.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>


