// Place all the styles related to the resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resume-jumbo>h1{
	display:inline;
}

.resume-jumbo>p{
	color: #000;
}

.resume-jumbo{
	padding: 20px 20px 20px 20px;
	margin-top: 20px;
}

.resume-jumbo>.pull-right{
	 padding-top:20px;
}

.workedu-block{
	display:inline-block;
}