<h1 class="text-center new-resume">EDIT RESUME</h1>
<div class="container">
	<div class="row clearfix">
		<div class="col-sm-8 col-sm-offset-2 new-resume clearfix">
			<div class="col-sm-2">
				<img src="<%= @gravatar %>" alt="">
			</div>
			<div class="col-sm-9 col-sm-offset-1">
				<h2><%= @name %></h2>
				<p><%= @bio %></p>
			</div>
		</div>	
	</div>
	<br>
	<div class="text-right row">
		<div class="col-sm-8 col-sm-offset-2">
			Powered by Vibe
		</div>
	</div>
</div>
<br>
<div class="container new-resume-form">
	<div class="row clearfix">
		<div class="col-sm-8 col-sm-offset-2">
			<%= render 'form_edit' %>
		</div>	
	</div>
</div>