<br/> <h1 class="text-center">Available qCard themes</h1>

<div class="container">
<div >
	<div >
		<%= image_tag "cardpreview.jpg", style: "margin:20px auto; height: 300px; width:420px; display:block;" %>
	</div>
	
            <br/>
			<div class="pad">
			<h1 class="text-center">Create my qCard</h1>


		<h2 class="text-center">Choose a theme</h2>

		<%= form_tag qcard_step2_path , :method => 'get', :id => "gs" do %>
		<%= select_tag "theme", "<option>Bold</option><option>Classy</option>".html_safe, name: "theme", style:"width:80%; margin:0 auto; display:block; height:30px;" %>
		<br/>
		<%= submit_tag "Go!", class:"btn btn-primary", style:"width:80%; text-align:center; margin:0 auto; display:block;" %>
		<br/>
		</div>
		<% end %>
	</div>	
</div>